html, body {
    margin: 0;
}

button {
    background-color: #42b983;
    padding: 5px;
    color: #fff;
    border: 0;
    box-shadow: 0px 0px 1px 0px rgba(136, 136, 136, 1);
    cursor: pointer;
}

h2 {
    color: #42b983;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

h3 {
    color: #42b983;
    font-weight: bold;
    font-size: 1.0rem;
    margin: 0;
}

.badge {
    background-color: #42b983;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 0.75rem;
}

.badge.critical {
    background-color: #e49918;
}

.bg-brand {
    background-color: #42b983;
    color: #fff;
}

.container {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.grow {
    flex-grow: 10;
}

.padding-default {
    padding: 0.75rem;
}

.padding-x-default {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.margin-default {
    margin: 0.75rem;
}

.margin-y-default {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.margin-x-default {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.margin-l-default {
    margin-left: 0.75rem;
}

.margin-r-default {
    margin-right: 0.75rem;
}

.margin-b-default {
    margin-bottom: 0.75rem;
}

.margin-t-default {
    margin-top: 0.75rem;
}

.margin-t-double {
    margin-top: 1.5rem;
}

.margin-t-triple {
    margin-top: 2.25rem;
}

.text-sm {
    font-size: 0.8rem;
}

.w-full {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}